{
	"token": "your-slack-RTM-token",
	"main_channel": "general",
	"bind_port": 8008,
	"docker": {
		"server_address": "localhost",
		"cert_path": "/docker-certs",
		"containers": {
			"patcher": {
				"config": {
					"Image": "your/image",
					"Env": ["YOUR_ENV=your_value"]
				}
			}
		}
	}
}
